
.idea
.vscode
.env

*.xml
*.pymc
*.pyc
*.grib
*.idx

**/.secret
lpspline.egg-info
*.egg-info/
build/
dist/

PROJECT_SPECS.md
deployinstructions.md
.venv

__pycache__
# Sphinx
docs/_build/
